{% extends 'store/base_auth.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>Войти</h2>
<form id="login-form" method="post" autocomplete="off">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="error-message" style="color:red;">
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="input-block">
    {{ form.username.label_tag }}
    {{ form.username }}
    {% if form.username.errors %}
      <div class="error-text">{{ form.username.errors.0 }}</div>
    {% endif %}
  </div>

  <div class="input-block">
    {{ form.password.label_tag }}
    {{ form.password }}
    {% if form.password.errors %}
      <div class="error-text">{{ form.password.errors.0 }}</div>
    {% endif %}
  </div>

  <button type="submit">Войти</button>
</form>
{% endblock %}

{% block extra_links %}
<a href="{% url 'reg' %}" class="New-acc">Создать учетную запись</a>
<a href="#" class="policy">Политика конфиденциальности</a>
{% endblock %}
