{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
  <div class="login-container">
    <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt="Logo" class="logo" /></a>
    <h2>Зарегистрироваться</h2>
    <form method="POST" id="login-form" novalidate autocomplete="off">
      {% csrf_token %}
      {% if error %}
        <p style="color:red;">{{ error }}</p>
      {% endif %}

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}


      <div class="input-block">
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username" required autocomplete="off" />
      </div>
      <div class="input-block">
        <label for="email">Адрес электронной почты</label>
        <input type="text" name="email" id="email" required autocomplete="off" />
        <span class="error-text">Обязательно</span>
      </div>
      <div class="input-block">
        <label for="birthdate">Дата рождения</label>
        <input type="date" name="birthdate" id="birthdate" required autocomplete="off" />
      </div>
      <div class="input-block">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" required autocomplete="off" />
      </div>
      <div class="input-block">
        <label for="password2">Повторите пароль</label>
        <input type="password" name="password2" id="password2" required autocomplete="off" />
      </div>
      <button type="submit" id="submit-btn">Зарегистрироваться</button>
    </form>
    <div class="divider"><span>или войти с</span></div>
    <div class="socials">
      <button class="social steam"></button>
      <button class="social facebook"></button>
      <button class="social google"></button>
      <button class="social apple"></button>
    </div>

    <a href="" class="policy">Политика конфиденциальности</a>
  </div>

  <script>
    document.querySelectorAll('input').forEach(function(input) {
      input.setAttribute('autocomplete', 'off');
    });
  </script>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
